:root {
    --gradient: linear-gradient(90deg, #ee6352, purple, #ee6352);
  
  }
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  

}
body{
    background: linear-gradient(to bottom right, green, yellow);
    background-size: 300%;
    animation: bg-animation 5s infinite;
}

  
  @keyframes bg-animation {
    0% {background-position: left}
    50% {background-position: right}
    100% {background-position: left}
  }
  
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
 
    width: 40%;
    margin: 10vh auto;
    padding: 50px;
    background-color: #f1f1f1 ;

}
.container h1{
    text-align: center;
}
form{
    padding: 20px;
}
form input{
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
}
#btn{
    padding: 10px 60px;
    margin-top: 20px;
     border-radius: 10px;
     border: none;
     color: white;
     font-weight: 700;
     background-color: greenyellow;
     font-size: 20px;
     cursor: pointer;
     text-align: center;
 }
 #btn:hover{
     animation: button 0.5s ease-out forwards;
 }
 .items{
    display: flex;
    flex-direction: column;
 }
 .btn{
    text-align: center;
 }
 .items label{
    font-weight: 600;
 }
 @keyframes button {
    to{
        transform: scale(1.1);
    }
    
}
@keyframes a {
    to{
        text-decoration: underline;
    }
}

@media only screen and (max-width: 500px) {
     .container{
        padding: 10px;
        width: 70vh;
        
     }
     body{
        background-image: none;
        background-color: #C6EBC5;
     }
}

/* background: linear-gradient(120deg, pink, cyan);
opacity: 0.9;


box-shadow: inset 0px 0px 10px green, inset 0px 0px 20px red;  */