<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/css/about_us_css.css">
</head>
<body>


    <section class="home">
        <img src="/static/images/mount2.png" class="mount2">
        <img src="/static/images/mount1.png" class="mount1">
        <img src="/static/images/bush2.png" class="bush2">

         <h1 class="title">ABOUT US</h1>

        <img src="/static/images/bush1.png" class="bush1">
        <img src="/static/images/leaf2.png" class="leaf2">
        <img src="/static/images/leaf1.png" class="leaf1">
    </section>

    <section class="about">
        <h1>Welcome to Waste Whirl!</h1>
        <h3>Our endeavour is to connect you with the ragpickers around and take a step forward towards a better and healthy future. We work to provide you with the best services at your fingertips.</h3>
        <h1>Our Services</h1>
        <h2 class="new font1" ><strong>Dual Login ID System</strong></h2>
        <h4>We offer a secure and user-friendly login system for both the clients and ragpickers.</h4>

        <h2 class="new font1"> <strong>Appointment Booking</strong></h2>
        <h4>You can book appointments according to the availability of the ragpickers and your favourable timings. </h4>

        <h2 class="new font1"><strong>Service at your Doorstep</strong></h2>
        <h4>The rag is collected from your doorstep by provision of convenient address setup system.</h4>

        <h2 class="new font1"> <strong>Payment Gateway</strong></h2>
        <h4> The money according to the disposed off rag by you is credited to your account within 2-3 working days.</h4>

        <h2 class="new font1"><strong>Tip & Salary System</strong></h2>
        <h4>Each ragpicker associated with us gets a fixed salary by the end of the month. Your satisfaction for the service can be expressed as a tip for the ragpickers by you. It motivates them to do their work more efficiently.</h4>
          
        <h2 class="new font1"><strong>Review System</strong></h2>
        <h4>Authentic ratings for every ragpicker shared by customers are visible which assist you to choose better services.</h4> <br>

        <h1>Meet Our Team</h1>
        <h2>Ashwath Soni - Back-end Developer</h2>
        <h3>Ashwath oversees the back-end development and database management of our platform. His expertise in Python and SQL ensure that our systems operates smoothly and efficiently, handling data securely and effectively.</h3> <br>

        <h2>Swayam - Front-end Developer</h2>
        <h3>Swayam manages the front end of our platform, utilizing his expertise in HTML, CSS, and JavaScript. He is responsible for creating visually appealing and user-friendly webpages that enhance the overall user experience.</h3> <br>

        <h2>Pragati Arora - Front-end Developer and Content Writer</h2>
        <h3>Pragati contributed in the making of Contact Us and About Us pages using html and css. She also wrote the content for the website including the blogs, the business models and the LinkedIn post.</h3> <br>

        <h2>Sahil Chabra - Front-end Developer</h2>
        <h3>Sahil specializes in front-end development, utilizing his expertise in HTML, CSS, and JavaScript he created the beautiful and responsive home page and other webpages like the dashboards.</h3>

    </section>

    <script src="static/js/about_us_js.js"></script>

</body>
</html>