<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ user_details.name }}</h1>
    <p>User Options:</p>
    <ul>
        <li><a href="{{ url_for('user_fill_details') }}">Edit Details</a></li>
        <li><a href="{{ url_for('book_service') }}">Book Service/Appointment</a></li>
    </ul>

    <h2>Service Requests</h2>
    {% for request in service_requests %}
    <div>
        <p>Ragpicker: {{ request.ragpicker.username }}</p>
        <p>Description: {{ request.description }}</p>
        <p>Date and Time: {{ request.date_time }}</p>
        <p>Status: {{ request.status }}</p>
    </div>
    {% endfor %}

    <h3>Payment</h3>
    {% for payment in pending_payments %}
    <div>
        <p>Ragpicker: {{ payment.ragpicker.username }}</p>
        <a href="{{ url_for('payment', request_id=payment.id) }}">Pay with Razorpay</a>
    </div>
    {% endfor %}
</body>
</html>
