<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
</head>
<body>
    <h1>Welcome, {{ user_details.name }}</h1>
    <p>User Options:</p>
    <ul>
        <li><a href="{{ url_for('user_fill_details') }}">Edit Details</a></li>
        <li><a href="{{ url_for('book_service') }}">Book Service/Appointment</a></li>
        <li><a href="{{ url_for('user_service_requests') }}">View Service Requests</a></li>
        <li><a href="{{ url_for('user_tipping') }}">Tip Your Waste Whirl Partner</a></li>
        <li><a href="{{ url_for('user_bank_details') }}">Bank Details</a></li>
    </ul>
</body>
</html>
